@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    nav {
        padding-left: 1rem; /* Reduce padding for mobile view */
        padding-right: 1rem; /* Reduce padding for mobile view */
    }

    .logo {
        font-size: 1.5rem; /* Reduce logo size for mobile view */
    }

    .hamburger-icon {
        height: 20px; /* Reduce height for mobile view */
        width: 25px; /* Reduce width for mobile view */
    }

    .hamburger-icon span {
        height: 1.5px; /* Reduce span height for mobile view */
    }

    .nav-links {
        font-size: 1rem; /* Reduce font size for mobile view */
    }

    .menu-links a {
        font-size: 1rem; /* Reduce font size for mobile view */
    }
}
